[submodule "alacritty"]
	path = alacritty
	url = https://github.com/dracula/alacritty
[submodule "rofi"]
	path = rofi
	url = https://github.com/dracula/rofi
[submodule "dunst"]
	path = dunst
	url = https://github.com/dracula/dunst.git
[submodule "vim"]
	path = vim
	url = https://github.com/dracula/vim.git
[submodule "gtk"]
	path = gtk
	url = https://github.com/dracula/gtk.git
[submodule "wallpaper"]
	path = wallpaper
	url = https://github.com/dracula/wallpaper.git
[submodule "grub"]
	path = grub
	url = https://github.com/dracula/grub.git
[submodule "qt5"]
	path = qt5
	url = https://github.com/dracula/qt5.git
[submodule "xresources"]
	path = xresources
	url = https://github.com/dracula/xresources.git
[submodule "ranger"]
	path = ranger
	url = https://github.com/dracula/ranger.git
