/**
 * Dranoel's Colour Scheme
 * Rofi version: 1.7.2
 **/
* {
  background-color: #2E3440;
  text-color: #ECEFF4;
}
window {
  anchor: center;
  location: center;
}
mainbox {
  border: 5;
  border-color: #88C0D0;
}
inputbar {
  background-color: #3B4252;
}
prompt, entry {
  background-color: #3B4252;
  padding: 5;
}

selected {
  background-color: #434C5E;
}
